.sidebar {
  position: fixed;
  left: auto;
  right: auto;
  bottom: auto;
  overflow: visible;
  width: 40%;
  height: 100%;
  margin: 0px;
  padding: 75px 85px 50px;
}

.about {
  margin-top: 50%;
}

.about_container {
  display: block;
  width: 65%;
  margin-top: 85px;
  margin-right: 0px;
  margin-bottom: 11px;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 100;
}

.about_title {
  margin-top: 85px;
  margin-bottom: 15px;
  font-family: Montserrat, sans-serif;
  color: rgba(51, 51, 51, .9);
  font-weight: 900;
}

.about_paragraph {
  margin-right: 0%;
  font-family: Montserrat, sans-serif;
  color: rgba(51, 51, 51, .9);
}

.linkedin-button {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.link_linkedin {
  margin-left: 5px;
  -webkit-filter: saturate(0%);
  filter: saturate(0%);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.link_linkedin:hover {
  -webkit-filter: none;
  filter: none;
  color: #32ac97;
}

.content {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: scroll;
  width: 60%;
  height: 100%;
  max-width: 1200px;
  min-height: 100%;
  margin-left: 40%;
  float: right;
}

.link_instagram {
  margin-right: 5px;
  -webkit-filter: saturate(0%);
  filter: saturate(0%);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.link_instagram:hover {
  -webkit-filter: saturate(200%);
  filter: saturate(200%);
}

.contact_btn {
  margin: 15px 0px;
  padding: 15px 65px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 700;
}

.item_1 {
  overflow: visible;
  padding: 45px 65px;
  background-color: #4a4a4a;
  font-size: 12px;
}

.work_number {
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.say_hello {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

.item_2 {
  padding: 45px 65px;
  background-color: #2ecc71;
}

.item_3 {
  padding: 45px 65px;
  background-color: #009ee2;
}

.item_4{
  padding: 45px 65px;
  background-color: #eabad8;
}

.work_photo {
  position: static;
  left: 0px;
  bottom: 0px;
  display: block;
  padding-right: 30%;
  padding-left: 30%;
  float: none;
  clear: none;
  text-align: center;
}

.work_photo2 {
  position: static;
  left: 0px;
  bottom: 0px;
  display: block;
  padding-right: 15%;
  padding-left: 15%;
  float: none;
  clear: none;
  text-align: center;
}
.work_photo3 {
  position: static;
  left: 0px;
  bottom: 0px;
  display: block;
  padding-right: 25%;
  padding-left: 25%;
  float: none;
  clear: none;
  text-align: center;
}

.item_name {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
}

.item_title {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 100;
}

.link_behance {
  margin-left: 10px;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: opacity 200ms ease, -webkit-filter 500ms ease;
  transition: opacity 200ms ease, -webkit-filter 500ms ease;
  transition: filter 500ms ease, opacity 200ms ease;
  transition: filter 500ms ease, opacity 200ms ease, -webkit-filter 500ms ease;
}

@media (max-width: 991px) {
  .sidebar {
    position: static;
    overflow: hidden;
    padding-top: 50px;
    padding-left: 45px;
  }
  .work_photo {
    padding-right: 25%;
  }
}

@media (max-width: 767px) {
  .sidebar {
    width: 100%;
  }
  .content {
    position: static;
    display: block;
    width: 100%;
    margin-left: 100%;
    clear: none;
  }
  .contact_btn {
    position: relative;
  }
  .item_1 {
    position: static;
  }
  .work_photo {
    padding-right: 25%;
  }
}

@media (max-width: 479px) {
  .sidebar {
    position: relative;
    overflow: visible;
    width: 100%;
    height: 100%;
    padding-top: 0px;
    padding-left: 65px;
  }
  .about_container {
    width: 65%;
    margin-top: 75px;
    padding-left: 0px;
  }
  .content {
    position: static;
    left: 0px;
    top: 800px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 0%;
    margin-left: 0%;
  }
}
